<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tscloud.manager.mapper.userPermission.UserPermissionMapper">

    <resultMap type="com.tscloud.manager.entity.userPermission.UserPermission" id="userPermissionResultMap">
        <result column="UserID" property="UserID" javaType="java.lang.String"/>
        <result column="FuncID" property="FuncID" javaType="java.lang.String"/>
    </resultMap>
    
    <sql id="column">
       t.UserID,t.FuncID
    </sql>
    
    <sql id="sql_update">
       	<set>
            <if test="UserID != null ">
                <![CDATA[
                    t.UserID = #{UserID},
                ]]>
            </if>
            <if test="FuncID != null and FuncID != '' ">
                <![CDATA[
		            t.FuncID = #{FuncID},
		        ]]>
            </if>
        </set>
    </sql>
    
     <!--查询条件-->
    <sql id="sql_where">
        <where>
            <if test="UserID != null and UserID != '' ">
                <![CDATA[
                  and t.UserID =#{UserID}
                ]]>
            </if>
             <if test="FuncID != null and FuncID != '' ">
                <![CDATA[
                  and t.FuncID=#{autoEnterpriseCode}
                ]]>
            </if>
        </where>
    </sql>
    
 	<select id="findAll" resultMap="userPermissionResultMap">
        select
        <include refid="column"/>
        from table_11 t
    </select>
    
    <select id="findById" resultMap="userPermissionResultMap">
    	select
        <include refid="column"/>
        from table_11 t
        where t.UserID = #{UserID}
    </select>
    
    
    <insert id ="save" parameterType="com.tscloud.manager.entity.userPermission.UserPermission" >
    	insert into table_11(UserID,FuncID)
        values(#{UserID},#{FuncID})
    </insert>
    
    <update id="update" parameterType="com.tscloud.manager.entity.userPermission.UserPermission">
    	update table_11 t
    	<include refid="sql_update"/>
    	where t.UserID=#{UserID}
    </update>
    
    <delete id="deleteByIds" parameterType="java.util.List">
    	delete from table_11 where UserID in
    	 <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    
    <select id="findByMap" parameterType="java.util.Map" resultMap="userPermissionResultMap">
    	select 
    	<include refid="column"/>
    	from table_11 t
    	<include refid="sql_where"/>
    </select>
    
</mapper>